:root {
    font-family: Inter, system-ui, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color: #18181b;
    background-color: #f4f4f5;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    padding: 34px 40px;
    margin: 0;
}

button {
    border: none;
    padding: 0;
}
