.header {
    display: flex;
}

.logoContainer {
    display: flex;
    gap: 8px;
    width: 315px;
    font-size: 14px;
    font-weight: 600;
    align-items: center;
    color: inherit;
    text-decoration: none;
}

.logoContainer img {
    width: 24px;
}

.nav {
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.nav a {
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    color: inherit;
}

.right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 315px;
    gap: 34px;
}

.button {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    background: none;
    cursor: pointer;
}
